export MODRINTH_TOKEN="your token here"

export MC_MISSILE_GUIDANCE_PORT="42069"
# Prefix of the address used to connect to the guidance and control server.
# Set this to something that isn't a prefix of any other address on your network.
export MC_MISSILE_GUIDANCE_CONTROL_ADDRESS_PREFIX="MinecraftGuidanceControl"
export MC_MISSILE_LOCALHOST_GUIDANCE_CONTROL="true"
# Set this to all the guidance servers you have, separated by a single , (comma) without a space
export MC_MISSILE_GUIDANCE_CONNECTION_IDS="69,420"
